*{
    margin: 0;
    padding: 0;
    font-family: 'Sixtyfour', sans-serif;
}
h1,h2{
    text-align: center;
    margin-top: 10px;
    color: rgb(113, 113, 73);
}

body{
    background-color:#121212;
}

.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 1.6rem;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 10%;

}

.red{
    background-color: red;

}
.green{
    background-color: green;

}
.yellow{
    background-color:yellow;

}
.purple{
    background-color:purple;

}
.flash{
    background-color: white;
}

.userFlash{
    background-color: rgb(13, 60, 40);
}